<h1>{{ name }} <small>details</small></h1>

<div class="row">
  <div class="col-md-8">
    <h2>Items</h2>
    {{#if _items}}
    <ul>
      {{#each _items}}
        <li>
          <strong>{{this.content}}</strong> 
        </li>
      {{/each}}
    </ul>
    {{else}}
      <p>You're list is empty. Add some content.</p>
    {{/if}}
    <form class="form-inline" action="/add-new-item" method="post">
      <div class="form-group mb-2">
        <input type="text" class="form-control" name="newItemInput" placeholder="Enter item">
      </div>
      <div class="form-group">
        <input name="listId" type="hidden" value="{{_id}}">
      </div>
      <button type="submit" class="btn btn-success mb-2">Add Item</button>
    </form>
  </div>

  <div class="col-md-4">
    <div id="search-result">
      {{#if emails}}
      {{/if}}
    </div>
    <form action="/search-user" method="post">
      <div class="form-group">
        <input type="email" class="form-control" name="searched-email" placeholder="Search a user user@user.com">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>

  </div>
</div>