<div class="d-flex justify-content-center row">
<h1>My Lists</h1>

<div class="cards-container d-flex flex-wrap justify-content-center align-content-center">
  {{#each lists}}
      {{> listCard this}}
  {{/each}}
</div>

<div class="justify-content-between">
 <p><a class="choose-btn btn-lg" href="/lists/newlist">Create a new List</a></div>
</div>

</div>
