
<form action="/new-list" method="post">
  <label for="listname">Give your LIST a NAME</label>
  <input id="listname" type="text" name="listname" placeholder="Enter a name for your list">
  <br><br>
        <div>
            <button class="btn btn-secondary btn-lg active edit-btn" type="submit">Create this List</button>
        </div>
</form>
