<!-- sendedInvitation.hbs -->


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-body">
        <p class="card-title">
            <ul><li><strong>{{this._item.content}}</strong>
        </li></ul></p>
        <button type="button" name="delete" value="false">Delete</button>
    </div>
</div>