<!-- listItem.hbs -->

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{this._sendingUser.image}}" alt="Card image cap">
    <div class="card-body">
        <p class="card-title">
            <strong>{{this.item.content}}</strong>
        </p>
        <button type="submit" name="delete" value="false">delete</button>
    </div>
</div>