
<div class="jumbotron mt-5">
  <h1>Welcome to <a href="/">{{title}}</a></h1>
  <h2>Put a list on the fridge</h2>
  <hr class="my-4">
  <p class="lead">Share your lists with friends and family</p>
  <p class="lead">
    <a href="/signup" class="btn btn-primary btn-lg">Sign Up</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
  </p>
</div>