
$primary: #33ffbb;
@import "node_modules/bootstrap/scss/bootstrap";

.navbar-brand{font-family:'Pinyon Script', cursive;} 



body {
  font: 14px 'Nunito', sans-serif;
}

a {
  color: #00B7FF;
}

#fonts{
  font-family: 'Nunito', sans-serif;
}

.pending-invitation {
  line-height: 25px;
}