
@import "node_modules/bootstrap/scss/bootstrap";

$primary: #66ffcc;

.navbar-brand{font-family:'Niconne', cursive;} 

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Niconne', cursive;
  font-family: 'Pinyon Script', cursive;
  font-family: 'Nunito', sans-serif;
}

a {
  color: #00B7FF;
}

#fonts{
  font-family: 'Nunito', sans-serif;
}