<h1>profile page</h1>
{{ this }}
<div class="row">
  <div class="col-md-4">
    <h2>Lists</h2>
    <ul id="lists">
      <li>item</li>
      <li>item</li>
      <li>item</li>
      <li>item</li>
    </ul>
    <a href="/new-list" class="btn btn-success">Create New List</a>
  </div>
  <div class="col-md-4">
    <h2>Sent Invitations (pending)</h2>
    <ul id="sent-invitations">
      <li><a href="#">user name</a></li>
      <li><a href="#">user name</a></li>
      <li><a href="#">user name</a></li>
      <li><a href="#">user name</a></li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2>Received Invitations (pending)</h2>
    <ul id="received-invitations">
      <li><a href="#">user name</a></li>
      <li><a href="#">user name</a></li>
      <li><a href="#">user name</a></li>
      <li><a href="#">user name</a></li>
    </ul>
  </div>
</div>


